  h1 {
    color: rgb(224, 223, 223);
    font-size: 30px;
    font-weight: 400;
  }
   h2 {
      margin: 20px 0px 10px 0px;
  }

  a{
      color: rgb(240, 140, 0);
  }
    a:hover{
      color: rgb(252, 189, 102);
      text-decoration: none;
  }

/* adjust navbar hight */
  .navbar-expand-lg{
   padding:15px 20px 15px 35px;
    }

/* adjust buttons */

.btn{
     margin: 0px;
}
.btnLogin{
     margin: 0px 0px 0px 15px;
}
  .buttonApply {
    float:right;
    margin: 0px;
    margin: 5px 0px 20px 0px;
  }
  .buttonDelete {
     float:right;
     margin: 0px;
  }

  .courseHeader{
    margin: 0px 0px 40px 0px;
    color: rgb(109, 109, 109);
  }

  .toggleButton{
    margin: 5px 10px 20px 0px;
    color: rgb(240, 140, 0);
    border-color: rgb(240, 140, 0);
  }
  .btn.toggleButton:hover {
    border-color: #6c757d;
  }