
  h1 {
    color: rgb(224, 223, 223);
    font-size: 30px;
    font-weight: 400;
  }
   h2 {
      margin: 20px 0px 10px 0px;
  }

/* adjust navbar hight */
  .navbar-expand-lg{
   padding:20px 20px 20px 35px;
    }

/* adjust buttons */

.btn{
     margin: 0px 0px 0px 15px;
}
  .buttonApply {
    float:right;
     margin: 0px;
    margin: 0px 0px 20px 0px;
  }
    .buttonDelete {
    float:right;
     margin: 0px;
  }
